body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: white;
    width: 80%;
    max-width: 400px; /* Set a maximum width to prevent it from getting too wide */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    position: fixed;
}

input {
    padding: 8px;
    width: calc(100% - 20px); 
    margin-bottom: 10px; 
}

.save_btn {
    background-color: black;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    box-sizing: border-box; 
}

.save_btn:hover {
    background-color: rgb(64, 64, 64);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.li {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;

    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: left; 
    overflow: auto;
 }

.icons_setting {
    margin-top: -12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

i {
    
    cursor: pointer;
    font-size: 1.2em;
}

.fas,
.delete-icon {
    margin-left: 10px; 
}


i:hover {
    color: rgb(64, 64, 64);
}

.clar_all_btn {
    margin-left: calc(92% - 50px); 
}


.name {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
width: 100%;
text-align: center;
}

h3 {
    margin: 0; /* Remove default margin for h3 */
}
